
[submodule "vim/.vim/bundle/emmet-vim"]
	path = vim/.vim/pack/syntax/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/pack/interface/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/.vim/bundle/vim-lucius"]
	path = vim/.vim/pack/colorschemes/start/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius
[submodule "vim/.vim/bundle/lightline"]
	path = vim/.vim/pack/interface/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/pack/syntax/start/vim-surround
	url = https://github.com/tpope/vim-surround
    ignore = dirty
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/.vim/pack/interface/start/vim-obsession"]
	path = vim/.vim/pack/interface/start/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
    path = tmux/.tmux/plugins/tmux-resurrect
    url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "vim/.vim/pack/syntax/start/Colorizer"]
	path = vim/.vim/pack/syntax/start/Colorizer
	url = https://github.com/chrisbra/Colorizer
