
[submodule "vim/.vim/bundle/emmet-vim"]
	path = vim/.vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/.vim/bundle/vim-lucius"]
	path = vim/.vim/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius
[submodule "vim/.vim/bundle/lightline"]
	path = vim/.vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
    ignore = dirty
[submodule "vim/.vim/bundle/Colorizer"]
	path = vim/.vim/bundle/Colorizer
	url = https://github.com/chrisbra/Colorizer
